/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f2945;
  color: white;
  max-width: 2100px;
  overflow: hidden;
  padding-left: 200px;
  padding-top: 100px;
}
